* {
    margin: 0;
    padding: 0;
    border: none;
    }
    @font-face { 
font-family: 'helv'; 
src: url('HelveticaNowDisplay.otf');
} 
@font-face {
    font-family: 'helvAlt';
    font-feature-settings: "aalt"; 
    src: url('HelveticaNowDisplay.otf');
    font-feature-settings: "ss04";
    unicode-range: U+0052,U+0052 ;}
.cover {
    page: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://source.unsplash.com/random/1600x900') no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    

    
    body {
        /* display: flex; */
        height: 100vh;
        font-weight: 100;
        font-family: helv, helvAlt, Arial, sans-serif;
        font-size:14px;
        font-feature-settings: "ss04";
        font-weight: lighter;
        text-align: left;
    }

    section {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
    }

    .parent,
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* padding: 20px; */
        /* this can add a frame*/
        box-sizing: border-box;
        max-width: 50%;
        /* border: rgb(24, 185, 64) 1px solid; */
    }

    .parent {
        position: relative;
    }

    .left, .topdiv, .bottomdiv {
        background: url('https://source.unsplash.com/random/800x601') no-repeat center center;
        background-size: cover;
        /* border: blue 1px dashed; */
        width: 100%;
        height: 100vh;
        /* adjust as needed */
    }
    .topdiv, .bottomdiv {
        height: 50vh;
        width:100%
    }

    .leftDoubleImage {
        width: 100%;
        height: 100vh;
    }

    .leftDoubleImage img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        /* border: blue 1px solid; */
        width:auto;
    }

    .caption {
        position: absolute;
        bottom: 4em;
        /* adjust as needed */
        left: 2em;
        width:calc(100% - 4em - 1em); 
        /* adjust as needed */
        color: black;
        /* adjust as needed */
        font-size: 1em;
        line-height: 1.0em;
        /* adjust as needed */
        background-color: greenyellow;
        padding: 2px 5px;
    }

    .right {
        /* background: #f0f0f0; */
        /* border: rgb(221, 148, 39) 1px solid; */
        padding: 3em;
    }

    .filler{
        height: 37vh;
        max-width: 100%;
    }

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 6em;
        font-weight: lighter;
        /*text-transform: uppercase;*/
        text-align: left;
        margin-bottom: 20px;
        width: 100%;
        line-height:0.9em;
        background-color: greenyellow;
    }
    h2 {
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align:left;
       /* text-transform: uppercase;*/
        font-weight: lighter;
        font-size: 1em;
        width: 100%;
    }
    h2::before{
        content: "{";
        line-height: 2em;
    }
    h2::after{
        content: "}";
    }
    p {
        margin-bottom: 20px;
    }

    a {
        color: #333;
        text-decoration: none;
        font-size: 0.8em;
        width:100%;
        text-align: left;
        word-wrap: break-word;
    }
    em{
        font-size: inherit;
        line-height: 3em;
        width: 100%;
    }
    @media (max-width: 600px) {
        *{            
        margin: 0;
        padding: 0;
        border: none;}
        body {
            flex-direction: column;
        }
    }

@media print {
    @page {
        size: A4 landscape;
        margin:1cm;
        /* marks: crop cross;
        bleed: 5mm; */
        @bottom-center {
content: counter(page);
}
     }
     @page cover {
margin: 0; /* Use a full size page */

/* Remove page numbers for the cover */
@bottom-center {
content: none;
}
}
    @page :left {
        margin-left: 1cm;
    }
    
    @page :right {
        margin-right: 1cm;
    }
    body {
    width: 297mm;
    height: 210mm;
    margin: 0;
    padding: 0;
    page-break-after: always;  
    font-size: 10pt;}
    em {
    text-align: left;
    }
    section {
        min-height: calc(100% - 2cm);
        height: 100vh;
        display: flex;
        page-break-inside: avoid;
        page-break-after: always !important;
    }
    h1 {
    font-size: 5em;
    line-height: 0.8em;
    color: black;
    }
    h2 {
    font-size: 1.5em;
    color: black;
    }
    div {
    /* max-width:50%; */
    }
    p {
    font-size: 0.8em;
    }
    em{
        font-size: 10pt;
        line-height: 3em;
        width: 100%;
    }
}
caption_url {
    font-size: 0.8em;
    color: #333;
    background-color: greenyellow;
    text-decoration: none;
    font-size: 0.8em;
    word-wrap: break-word;
    width:80%;
    text-align: left;
}

span {display: none;}